#titular{
  background-color:rgb(55, 66, 55) ;
}
h1{
  float: inline-start;
  background-color:rgb(55, 66, 55)
}
#TITULO{
  background-color: rgb(55, 66, 55);
  color: aliceblue;
  margin: 10px;
  display: inline;
}
h3{
  float: right;
  background-color: rgb(55, 66, 55) ;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
}
#Boton1{
  text-align: left;
}

#portada{
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(207, 101, 101);
}

#pag_popular{
  background-color: rgb(174, 202, 122);
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


#Category {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Category td, #Category th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Category tr:nth-child(even){background-color: #f2f2f2;}

#Category tr:hover {background-color: #ddd;}

#Category th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #282768;
  color: white;
}


#Category a{
  background-color: rgb(78, 104, 238);
  border:  1px solid  black;
  color: white;
}

#CAT{
  background-color: rgb(40, 39, 193);
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}
  

